*{
    padding: 0;
    margin: 0;
}
body::before{display: block;
content: '';
height: 60px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
font-size: large;
}
iframe {
    border: 1px solid black;
    width: 100%;
    box-shadow: 2px 2px 2px 1px rgba(202, 125, 125, 0.2);
}

.output {
    background: #eee;
}

@media(min-width:768px){
    .news-input{width: 50%;}
}
.video{
    margin: 10px;
    align-self: left;
    width: 400px;
    height: 300px;

}
.container{
    margin-bottom: 10px;
    padding-bottom: 10px;
}
img{
    margin: -10;
    padding: -20;
    border: 1px solid blue;
    box-shadow: 5px 3px 2px 1px rgba(137, 112, 212, 0.479);
    border-radius: 97%;
}
i{
    color: crimson;
}
.nav-link:hover {
    background-color: rgba(68, 34, 34, 0.808);
    transition: all 5s ease-out;
    transform:scaleZ(20%) scaleY(30%);
    text-decoration-color: darkred;
}
img:hover{
    transform: rotate(1deg) scaleX(95%) scaleY(95%) scaleZ(97%);
}
